<div>
	<div class="well">
		<button class="btn btn-default btn-block" ng-click="openInput(lg,{})">Data input</button>
		<p>Insert the annual recurring revenue (ARRn) and costs (ARCn)</p>
	</div>
	<div class="well">
		<button class="btn btn-default btn-block" ng-click="openConfigurations(lg,{})">Configurations</button>
		<p>Set the expected Churr rate and Grouwth Efficency Index (GEI)</p>
	</div>
	<div class="well">
		<button class="btn btn-default btn-block" ng-click="openStrategy(lg,{})">Set Strategy</button>
		<p>Set the budget allocation for the annual contract value (ACV)</p>
	</div>

</div>