<div class="modal-header">
	<h3>Enter your strategy</h3>
</div>
<div class="modal-body">
	<form class="inline-form">
		<div class="form-group">
			<label>Invest in Customer Acquisition (monthly)</label>
			<div class="input-group">
				<input type="number" ng-model="data.mcv_cost" class="form-control" placeholder="e.g. €">
				<div class="input-group-addon">{{data.currency}}</div>
			</div>
		</div>
		<p>Investing in customer acquisition make your business <strong>grow</strong>. Take care on allocating anought money in order to cover the customers churned (currently: {{data.churn| currency: data.currency:0}} ).</p>
		<table class="table">
			<tr>
				<td class="warning">Avaiable Budget</td>
				<td class="warning">{{data.rpm | currency: data.currency:0}}</td>
			</tr>
			<tr>
				<td>Budget allocated for customer aquisition (monthly)</td>
				<td>{{data.mcv_cost | currency: data.currency:0}}</td>
			</tr>
			<tr>
				<td>Net income (monthly)</td>
				<td>{{data.rpm - data.mcv_cost | currency: data.currency:0}}</td>
			</tr>
			
		</table>
		
	</form>
</div>
<div class="modal-footer">
	
	<button type="submit" class="btn btn-success" data-toggle="modal" ng-click="submit(data.mcv_cost)">Submit</button>
</div>