<div class="page-wrap">
<div navbar></div>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-push-4">
			<div class="page-header text-center">
				<h1>Grow</h1>
				<h1><small>A tool which helps you to design the best strategy for subscription based business</small></h1>

			</div>
			<p class="text-center">by MatchYourTIE</p> 
		</div>
		<div class="col-lg-4 col-lg-pull-8">
			<div palette></div>
			<div>
				<button class="btn btn-primary btn-block" ng-click="calculateResult()">Calculate ARRn+1</button>
			</div>
		</div>

	</div>
</div>
</div>
<div footer><div>
