<div class="page-wrap">
<div id="bg">
  <img src="./assets/img/bg.jpg" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-push-4">
			<div class="page-header text-center">
				<h1>Grow</h1>
				<h1><small>helps you to design the best strategy tailored for subscription-based business models</small></h1>
			</div>
			<p class="text-center">by <a href="http://matchyourtie.com">MatchYourTIE </a></p> 
		</div>
		<div class="col-lg-4 col-lg-pull-8">
			<div palette></div>
			<div>
				<button class="btn btn-success btn-block" ng-click="calculateResult()">Submit</button>
				<p>Calculate the expected recurring revenue for the next financial year</p>
			</div>
		</div>

	</div>
</div>
</div>
<div footer><div>
