<div>
	<div class="well">
		<button class="btn btn-default btn-block btn-lg" ng-click="openInput(lg,{})">
			<i class="fa fa-line-chart" aria-hidden="true"></i>
		</button>
		<h4>Add your finalancial data</h4>
		<p>Insert your monthly recurring revenue (MRR) and costs (MRC)</p>
	</div>
	<div class="well">
		<button class="btn btn-default btn-block btn-lg" ng-click="openConfigurations(lg,{})">
			<i class="fa fa-users" aria-hidden="true"></i>
		</button>
		<h4>Observe the behaviour of your customers</h4>
		<p>Set the expected Churrn Rate and Grouwth Efficency Index (GEI) of your customer cohort</p>
	</div>
	<div class="well">
		<button class="btn btn-default btn-block btn-lg" ng-click="openStrategy(lg,{})">
			<i class="glyphicon glyphicon-king" aria-hidden="true"></i>
		</button>
		<h4>Set your strategy</h4>
		<p>Set the budget allocation for acquiring monthly contract value (MCV)</p>
	</div>

</div>